@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-radio:checked {
  background-color: #1f2937;
}

.carousel-radio {
  appearance: none;
  margin: 0 2px;
  width: 10px;
  height: 10px;
  border-radius: 9999px; /* Full roundness */
  background: #d1d5db; /* Tailwind's gray-300 */
  transition: background-color 0.3s;
  outline: none;
  border: 0;
}

.carousel-radio:hover,
.carousel-radio:focus {
  background: #6b7280; /* Tailwind's gray-500 */
}

.slick-active .carousel-radio {
  background: #f59e0b; /* Tailwind's amber-500 */
}

slick-slide {
  transition: all 0.5s ease;
  opacity: 0.5;
}

.slick-active {
  opacity: 1;
}

.slick-prev,
.slick-next {
  color: #000;
  z-index: 1;
}

.slick-prev {
  left: -35px;
}

.slick-next {
  right: -35px;
}

@media (min-width: 1024px) {
  .carousel-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 16px;
  }
  .carousel-image {
    width: 100%;
    height: auto;
  }
}
